In [1]:
import warnings
warnings.filterwarnings("ignore")

In [2]:
import requests
import pandas as pd
import json
import os
from dotenv import load_dotenv

In [3]:
load_dotenv()

True

In [4]:
API_key = os.getenv("weather_api")

In [5]:
city = "London"
url = f"http://api.openweathermap.org/data/2.5/forecast?q={city}&appid={API_key}&units=metric"

In [6]:
# an example API call to London
weather_ex = requests.get(url)
weather_ex.status_code

200

In [7]:
weather_ex.json()["list"]

[{'dt': 1655305200,
  'main': {'temp': 26.9,
   'feels_like': 26.52,
   'temp_min': 25.81,
   'temp_max': 26.9,
   'pressure': 1019,
   'sea_level': 1019,
   'grnd_level': 1015,
   'humidity': 34,
   'temp_kf': 1.09},
  'weather': [{'id': 804,
    'main': 'Clouds',
    'description': 'overcast clouds',
    'icon': '04d'}],
  'clouds': {'all': 100},
  'wind': {'speed': 1.69, 'deg': 164, 'gust': 3.54},
  'visibility': 10000,
  'pop': 0,
  'sys': {'pod': 'd'},
  'dt_txt': '2022-06-15 15:00:00'},
 {'dt': 1655316000,
  'main': {'temp': 25.69,
   'feels_like': 25.28,
   'temp_min': 23.26,
   'temp_max': 25.69,
   'pressure': 1019,
   'sea_level': 1019,
   'grnd_level': 1015,
   'humidity': 37,
   'temp_kf': 2.43},
  'weather': [{'id': 804,
    'main': 'Clouds',
    'description': 'overcast clouds',
    'icon': '04d'}],
  'clouds': {'all': 95},
  'wind': {'speed': 1.97, 'deg': 51, 'gust': 3.13},
  'visibility': 10000,
  'pop': 0,
  'sys': {'pod': 'd'},
  'dt_txt': '2022-06-15 18:00:00'},
 {'dt': 1655326800,
  'main': {'temp': 20.75,
   'feels_like': 20.21,
   'temp_min': 17.68,
   'temp_max': 20.75,
   'pressure': 1019,
   'sea_level': 1019,
   'grnd_level': 1016,
   'humidity': 51,
   'temp_kf': 3.07},
  'weather': [{'id': 803,
    'main': 'Clouds',
    'description': 'broken clouds',
    'icon': '04n'}],
  'clouds': {'all': 63},
  'wind': {'speed': 2.43, 'deg': 84, 'gust': 4.05},
  'visibility': 10000,
  'pop': 0,
  'sys': {'pod': 'n'},
  'dt_txt': '2022-06-15 21:00:00'},
 {'dt': 1655337600,
  'main': {'temp': 15.96,
   'feels_like': 15.39,
   'temp_min': 15.96,
   'temp_max': 15.96,
   'pressure': 1020,
   'sea_level': 1020,
   'grnd_level': 1017,
   'humidity': 68,
   'temp_kf': 0},
  'weather': [{'id': 802,
    'main': 'Clouds',
    'description': 'scattered clouds',
    'icon': '03n'}],
  'clouds': {'all': 29},
  'wind': {'speed': 1.23, 'deg': 74, 'gust': 1.98},
  'visibility': 10000,
  'pop': 0,
  'sys': {'pod': 'n'},
  'dt_txt': '2022-06-16 00:00:00'},
 {'dt': 1655348400,
  'main': {'temp': 14.88,
   'feels_like': 14.3,
   'temp_min': 14.88,
   'temp_max': 14.88,
   'pressure': 1021,
   'sea_level': 1021,
   'grnd_level': 1018,
   'humidity': 72,
   'temp_kf': 0},
  'weather': [{'id': 802,
    'main': 'Clouds',
    'description': 'scattered clouds',
    'icon': '03n'}],
  'clouds': {'all': 40},
  'wind': {'speed': 1.05, 'deg': 10, 'gust': 1.08},
  'visibility': 10000,
  'pop': 0,
  'sys': {'pod': 'n'},
  'dt_txt': '2022-06-16 03:00:00'},
 {'dt': 1655359200,
  'main': {'temp': 16.64,
   'feels_like': 15.98,
   'temp_min': 16.64,
   'temp_max': 16.64,
   'pressure': 1021,
   'sea_level': 1021,
   'grnd_level': 1018,
   'humidity': 62,
   'temp_kf': 0},
  'weather': [{'id': 803,
    'main': 'Clouds',
    'description': 'broken clouds',
    'icon': '04d'}],
  'clouds': {'all': 70},
  'wind': {'speed': 1.12, 'deg': 32, 'gust': 1.78},
  'visibility': 10000,
  'pop': 0,
  'sys': {'pod': 'd'},
  'dt_txt': '2022-06-16 06:00:00'},
 {'dt': 1655370000,
  'main': {'temp': 22.27,
   'feels_like': 21.73,
   'temp_min': 22.27,
   'temp_max': 22.27,
   'pressure': 1022,
   'sea_level': 1022,
   'grnd_level': 1019,
   'humidity': 45,
   'temp_kf': 0},
  'weather': [{'id': 804,
    'main': 'Clouds',
    'description': 'overcast clouds',
    'icon': '04d'}],
  'clouds': {'all': 96},
  'wind': {'speed': 0.88, 'deg': 103, 'gust': 0.97},
  'visibility': 10000,
  'pop': 0,
  'sys': {'pod': 'd'},
  'dt_txt': '2022-06-16 09:00:00'},
 {'dt': 1655380800,
  'main': {'temp': 26.82,
   'feels_like': 26.35,
   'temp_min': 26.82,
   'temp_max': 26.82,
   'pressure': 1022,
   'sea_level': 1022,
   'grnd_level': 1019,
   'humidity': 31,
   'temp_kf': 0},
  'weather': [{'id': 804,
    'main': 'Clouds',
    'description': 'overcast clouds',
    'icon': '04d'}],
  'clouds': {'all': 95},
  'wind': {'speed': 0.55, 'deg': 175, 'gust': 1.11},
  'visibility': 10000,
  'pop': 0,
  'sys': {'pod': 'd'},
  'dt_txt': '2022-06-16 12:00:00'},
 {'dt': 1655391600,
  'main': {'temp': 27.69,
   'feels_like': 26.88,
   'temp_min': 27.69,
   'temp_max': 27.69,
   'pressure': 1021,
   'sea_level': 1021,
   'grnd_level': 1018,
   'humidity': 30,
   'temp_kf': 0},
  'weather': [{'id': 804,
    'main': 'Clouds',
    'description': 'overcast clouds',
    'icon': '04d'}],
  'clouds': {'all': 100},
  'wind': {'speed': 1.25, 'deg': 156, 'gust': 2.47},
  'visibility': 10000,
  'pop': 0,
  'sys': {'pod': 'd'},
  'dt_txt': '2022-06-16 15:00:00'},
 {'dt': 1655402400,
  'main': {'temp': 25.37,
   'feels_like': 25.06,
   'temp_min': 25.37,
   'temp_max': 25.37,
   'pressure': 1022,
   'sea_level': 1022,
   'grnd_level': 1019,
   'humidity': 42,
   'temp_kf': 0},
  'weather': [{'id': 804,
    'main': 'Clouds',
    'description': 'overcast clouds',
    'icon': '04d'}],
  'clouds': {'all': 99},
  'wind': {'speed': 0.91, 'deg': 198, 'gust': 2.74},
  'visibility': 10000,
  'pop': 0,
  'sys': {'pod': 'd'},
  'dt_txt': '2022-06-16 18:00:00'},
 {'dt': 1655413200,
  'main': {'temp': 20.73,
   'feels_like': 20.35,
   'temp_min': 20.73,
   'temp_max': 20.73,
   'pressure': 1023,
   'sea_level': 1023,
   'grnd_level': 1019,
   'humidity': 57,
   'temp_kf': 0},
  'weather': [{'id': 804,
    'main': 'Clouds',
    'description': 'overcast clouds',
    'icon': '04n'}],
  'clouds': {'all': 100},
  'wind': {'speed': 1.74, 'deg': 235, 'gust': 3.65},
  'visibility': 10000,
  'pop': 0,
  'sys': {'pod': 'n'},
  'dt_txt': '2022-06-16 21:00:00'},
 {'dt': 1655424000,
  'main': {'temp': 19.33,
   'feels_like': 18.81,
   'temp_min': 19.33,
   'temp_max': 19.33,
   'pressure': 1022,
   'sea_level': 1022,
   'grnd_level': 1019,
   'humidity': 57,
   'temp_kf': 0},
  'weather': [{'id': 804,
    'main': 'Clouds',
    'description': 'overcast clouds',
    'icon': '04n'}],
  'clouds': {'all': 100},
  'wind': {'speed': 1.63, 'deg': 192, 'gust': 3.34},
  'visibility': 10000,
  'pop': 0,
  'sys': {'pod': 'n'},
  'dt_txt': '2022-06-17 00:00:00'},
 {'dt': 1655434800,
  'main': {'temp': 17.76,
   'feels_like': 17,
   'temp_min': 17.76,
   'temp_max': 17.76,
   'pressure': 1022,
   'sea_level': 1022,
   'grnd_level': 1019,
   'humidity': 54,
   'temp_kf': 0},
  'weather': [{'id': 804,
    'main': 'Clouds',
    'description': 'overcast clouds',
    'icon': '04n'}],
  'clouds': {'all': 100},
  'wind': {'speed': 1.61, 'deg': 196, 'gust': 3.52},
  'visibility': 10000,
  'pop': 0,
  'sys': {'pod': 'n'},
  'dt_txt': '2022-06-17 03:00:00'},
 {'dt': 1655445600,
  'main': {'temp': 18.98,
   'feels_like': 18.19,
   'temp_min': 18.98,
   'temp_max': 18.98,
   'pressure': 1022,
   'sea_level': 1022,
   'grnd_level': 1019,
   'humidity': 48,
   'temp_kf': 0},
  'weather': [{'id': 804,
    'main': 'Clouds',
    'description': 'overcast clouds',
    'icon': '04d'}],
  'clouds': {'all': 92},
  'wind': {'speed': 1.71, 'deg': 197, 'gust': 3.78},
  'visibility': 10000,
  'pop': 0,
  'sys': {'pod': 'd'},
  'dt_txt': '2022-06-17 06:00:00'},
 {'dt': 1655456400,
  'main': {'temp': 26.08,
   'feels_like': 26.08,
   'temp_min': 26.08,
   'temp_max': 26.08,
   'pressure': 1022,
   'sea_level': 1022,
   'grnd_level': 1019,
   'humidity': 28,
   'temp_kf': 0},
  'weather': [{'id': 803,
    'main': 'Clouds',
    'description': 'broken clouds',
    'icon': '04d'}],
  'clouds': {'all': 55},
  'wind': {'speed': 3.45, 'deg': 201, 'gust': 4.94},
  'visibility': 10000,
  'pop': 0,
  'sys': {'pod': 'd'},
  'dt_txt': '2022-06-17 09:00:00'},
 {'dt': 1655467200,
  'main': {'temp': 30.08,
   'feels_like': 28.51,
   'temp_min': 30.08,
   'temp_max': 30.08,
   'pressure': 1021,
   'sea_level': 1021,
   'grnd_level': 1018,
   'humidity': 25,
   'temp_kf': 0},
  'weather': [{'id': 802,
    'main': 'Clouds',
    'description': 'scattered clouds',
    'icon': '03d'}],
  'clouds': {'all': 48},
  'wind': {'speed': 4.67, 'deg': 217, 'gust': 6.39},
  'visibility': 10000,
  'pop': 0,
  'sys': {'pod': 'd'},
  'dt_txt': '2022-06-17 12:00:00'},
 {'dt': 1655478000,
  'main': {'temp': 31.34,
   'feels_like': 29.66,
   'temp_min': 31.34,
   'temp_max': 31.34,
   'pressure': 1020,
   'sea_level': 1020,
   'grnd_level': 1017,
   'humidity': 25,
   'temp_kf': 0},
  'weather': [{'id': 801,
    'main': 'Clouds',
    'description': 'few clouds',
    'icon': '02d'}],
  'clouds': {'all': 15},
  'wind': {'speed': 4.85, 'deg': 221, 'gust': 6.91},
  'visibility': 10000,
  'pop': 0,
  'sys': {'pod': 'd'},
  'dt_txt': '2022-06-17 15:00:00'},
 {'dt': 1655488800,
  'main': {'temp': 29.07,
   'feels_like': 28.19,
   'temp_min': 29.07,
   'temp_max': 29.07,
   'pressure': 1020,
   'sea_level': 1020,
   'grnd_level': 1017,
   'humidity': 34,
   'temp_kf': 0},
  'weather': [{'id': 800,
    'main': 'Clear',
    'description': 'clear sky',
    'icon': '01d'}],
  'clouds': {'all': 10},
  'wind': {'speed': 4.73, 'deg': 234, 'gust': 6.73},
  'visibility': 10000,
  'pop': 0,
  'sys': {'pod': 'd'},
  'dt_txt': '2022-06-17 18:00:00'},
 {'dt': 1655499600,
  'main': {'temp': 24.07,
   'feels_like': 23.92,
   'temp_min': 24.07,
   'temp_max': 24.07,
   'pressure': 1020,
   'sea_level': 1020,
   'grnd_level': 1017,
   'humidity': 53,
   'temp_kf': 0},
  'weather': [{'id': 803,
    'main': 'Clouds',
    'description': 'broken clouds',
    'icon': '04n'}],
  'clouds': {'all': 61},
  'wind': {'speed': 1.97, 'deg': 226, 'gust': 4.72},
  'visibility': 10000,
  'pop': 0,
  'sys': {'pod': 'n'},
  'dt_txt': '2022-06-17 21:00:00'},
 {'dt': 1655510400,
  'main': {'temp': 21.67,
   'feels_like': 21.59,
   'temp_min': 21.67,
   'temp_max': 21.67,
   'pressure': 1020,
   'sea_level': 1020,
   'grnd_level': 1017,
   'humidity': 65,
   'temp_kf': 0},
  'weather': [{'id': 803,
    'main': 'Clouds',
    'description': 'broken clouds',
    'icon': '04n'}],
  'clouds': {'all': 81},
  'wind': {'speed': 1.49, 'deg': 251, 'gust': 2.8},
  'visibility': 10000,
  'pop': 0,
  'sys': {'pod': 'n'},
  'dt_txt': '2022-06-18 00:00:00'},
 {'dt': 1655521200,
  'main': {'temp': 20.03,
   'feels_like': 20.07,
   'temp_min': 20.03,
   'temp_max': 20.03,
   'pressure': 1019,
   'sea_level': 1019,
   'grnd_level': 1016,
   'humidity': 76,
   'temp_kf': 0},
  'weather': [{'id': 801,
    'main': 'Clouds',
    'description': 'few clouds',
    'icon': '02n'}],
  'clouds': {'all': 21},
  'wind': {'speed': 0.58, 'deg': 288, 'gust': 0.65},
  'visibility': 10000,
  'pop': 0,
  'sys': {'pod': 'n'},
  'dt_txt': '2022-06-18 03:00:00'},
 {'dt': 1655532000,
  'main': {'temp': 21.66,
   'feels_like': 21.55,
   'temp_min': 21.66,
   'temp_max': 21.66,
   'pressure': 1019,
   'sea_level': 1019,
   'grnd_level': 1016,
   'humidity': 64,
   'temp_kf': 0},
  'weather': [{'id': 801,
    'main': 'Clouds',
    'description': 'few clouds',
    'icon': '02d'}],
  'clouds': {'all': 13},
  'wind': {'speed': 2.43, 'deg': 358, 'gust': 3.31},
  'visibility': 10000,
  'pop': 0,
  'sys': {'pod': 'd'},
  'dt_txt': '2022-06-18 06:00:00'},
 {'dt': 1655542800,
  'main': {'temp': 26.56,
   'feels_like': 26.56,
   'temp_min': 26.56,
   'temp_max': 26.56,
   'pressure': 1018,
   'sea_level': 1018,
   'grnd_level': 1015,
   'humidity': 47,
   'temp_kf': 0},
  'weather': [{'id': 801,
    'main': 'Clouds',
    'description': 'few clouds',
    'icon': '02d'}],
  'clouds': {'all': 11},
  'wind': {'speed': 2.17, 'deg': 43, 'gust': 1.83},
  'visibility': 10000,
  'pop': 0,
  'sys': {'pod': 'd'},
  'dt_txt': '2022-06-18 09:00:00'},
 {'dt': 1655553600,
  'main': {'temp': 31.66,
   'feels_like': 30.91,
   'temp_min': 31.66,
   'temp_max': 31.66,
   'pressure': 1016,
   'sea_level': 1016,
   'grnd_level': 1013,
   'humidity': 34,
   'temp_kf': 0},
  'weather': [{'id': 801,
    'main': 'Clouds',
    'description': 'few clouds',
    'icon': '02d'}],
  'clouds': {'all': 13},
  'wind': {'speed': 2.39, 'deg': 91, 'gust': 3.3},
  'visibility': 10000,
  'pop': 0,
  'sys': {'pod': 'd'},
  'dt_txt': '2022-06-18 12:00:00'},
 {'dt': 1655564400,
  'main': {'temp': 30.78,
   'feels_like': 30.37,
   'temp_min': 30.78,
   'temp_max': 30.78,
   'pressure': 1013,
   'sea_level': 1013,
   'grnd_level': 1010,
   'humidity': 38,
   'temp_kf': 0},
  'weather': [{'id': 803,
    'main': 'Clouds',
    'description': 'broken clouds',
    'icon': '04d'}],
  'clouds': {'all': 61},
  'wind': {'speed': 4.59, 'deg': 97, 'gust': 4.54},
  'visibility': 10000,
  'pop': 0,
  'sys': {'pod': 'd'},
  'dt_txt': '2022-06-18 15:00:00'},
 {'dt': 1655575200,
  'main': {'temp': 23.24,
   'feels_like': 23.21,
   'temp_min': 23.24,
   'temp_max': 23.24,
   'pressure': 1014,
   'sea_level': 1014,
   'grnd_level': 1011,
   'humidity': 61,
   'temp_kf': 0},
  'weather': [{'id': 803,
    'main': 'Clouds',
    'description': 'broken clouds',
    'icon': '04d'}],
  'clouds': {'all': 56},
  'wind': {'speed': 6.41, 'deg': 25, 'gust': 7.75},
  'visibility': 10000,
  'pop': 0.12,
  'sys': {'pod': 'd'},
  'dt_txt': '2022-06-18 18:00:00'},
 {'dt': 1655586000,
  'main': {'temp': 14.48,
   'feels_like': 14.05,
   'temp_min': 14.48,
   'temp_max': 14.48,
   'pressure': 1015,
   'sea_level': 1015,
   'grnd_level': 1012,
   'humidity': 79,
   'temp_kf': 0},
  'weather': [{'id': 500,
    'main': 'Rain',
    'description': 'light rain',
    'icon': '10n'}],
  'clouds': {'all': 100},
  'wind': {'speed': 6.49, 'deg': 30, 'gust': 13.05},
  'visibility': 10000,
  'pop': 0.26,
  'rain': {'3h': 0.47},
  'sys': {'pod': 'n'},
  'dt_txt': '2022-06-18 21:00:00'},
 {'dt': 1655596800,
  'main': {'temp': 12.66,
   'feels_like': 12.17,
   'temp_min': 12.66,
   'temp_max': 12.66,
   'pressure': 1015,
   'sea_level': 1015,
   'grnd_level': 1011,
   'humidity': 84,
   'temp_kf': 0},
  'weather': [{'id': 500,
    'main': 'Rain',
    'description': 'light rain',
    'icon': '10n'}],
  'clouds': {'all': 100},
  'wind': {'speed': 6.88, 'deg': 29, 'gust': 14.08},
  'visibility': 10000,
  'pop': 0.5,
  'rain': {'3h': 0.31},
  'sys': {'pod': 'n'},
  'dt_txt': '2022-06-19 00:00:00'},
 {'dt': 1655607600,
  'main': {'temp': 12.37,
   'feels_like': 11.83,
   'temp_min': 12.37,
   'temp_max': 12.37,
   'pressure': 1013,
   'sea_level': 1013,
   'grnd_level': 1010,
   'humidity': 83,
   'temp_kf': 0},
  'weather': [{'id': 804,
    'main': 'Clouds',
    'description': 'overcast clouds',
    'icon': '04n'}],
  'clouds': {'all': 98},
  'wind': {'speed': 6.01, 'deg': 31, 'gust': 13.98},
  'visibility': 10000,
  'pop': 0.31,
  'sys': {'pod': 'n'},
  'dt_txt': '2022-06-19 03:00:00'},
 {'dt': 1655618400,
  'main': {'temp': 12.62,
   'feels_like': 11.87,
   'temp_min': 12.62,
   'temp_max': 12.62,
   'pressure': 1013,
   'sea_level': 1013,
   'grnd_level': 1010,
   'humidity': 74,
   'temp_kf': 0},
  'weather': [{'id': 804,
    'main': 'Clouds',
    'description': 'overcast clouds',
    'icon': '04d'}],
  'clouds': {'all': 99},
  'wind': {'speed': 6.67, 'deg': 34, 'gust': 13.12},
  'visibility': 10000,
  'pop': 0.27,
  'sys': {'pod': 'd'},
  'dt_txt': '2022-06-19 06:00:00'},
 {'dt': 1655629200,
  'main': {'temp': 16.65,
   'feels_like': 15.91,
   'temp_min': 16.65,
   'temp_max': 16.65,
   'pressure': 1012,
   'sea_level': 1012,
   'grnd_level': 1009,
   'humidity': 59,
   'temp_kf': 0},
  'weather': [{'id': 804,
    'main': 'Clouds',
    'description': 'overcast clouds',
    'icon': '04d'}],
  'clouds': {'all': 99},
  'wind': {'speed': 5.45, 'deg': 46, 'gust': 7.8},
  'visibility': 10000,
  'pop': 0.1,
  'sys': {'pod': 'd'},
  'dt_txt': '2022-06-19 09:00:00'},
 {'dt': 1655640000,
  'main': {'temp': 18.72,
   'feels_like': 18.06,
   'temp_min': 18.72,
   'temp_max': 18.72,
   'pressure': 1012,
   'sea_level': 1012,
   'grnd_level': 1009,
   'humidity': 54,
   'temp_kf': 0},
  'weather': [{'id': 804,
    'main': 'Clouds',
    'description': 'overcast clouds',
    'icon': '04d'}],
  'clouds': {'all': 100},
  'wind': {'speed': 5.29, 'deg': 54, 'gust': 7.28},
  'visibility': 10000,
  'pop': 0.06,
  'sys': {'pod': 'd'},
  'dt_txt': '2022-06-19 12:00:00'},
 {'dt': 1655650800,
  'main': {'temp': 17.44,
   'feels_like': 16.7,
   'temp_min': 17.44,
   'temp_max': 17.44,
   'pressure': 1012,
   'sea_level': 1012,
   'grnd_level': 1009,
   'humidity': 56,
   'temp_kf': 0},
  'weather': [{'id': 804,
    'main': 'Clouds',
    'description': 'overcast clouds',
    'icon': '04d'}],
  'clouds': {'all': 100},
  'wind': {'speed': 4.97, 'deg': 72, 'gust': 7.16},
  'visibility': 10000,
  'pop': 0.02,
  'sys': {'pod': 'd'},
  'dt_txt': '2022-06-19 15:00:00'},
 {'dt': 1655661600,
  'main': {'temp': 14.79,
   'feels_like': 14.07,
   'temp_min': 14.79,
   'temp_max': 14.79,
   'pressure': 1014,
   'sea_level': 1014,
   'grnd_level': 1011,
   'humidity': 67,
   'temp_kf': 0},
  'weather': [{'id': 500,
    'main': 'Rain',
    'description': 'light rain',
    'icon': '10d'}],
  'clouds': {'all': 100},
  'wind': {'speed': 3.24, 'deg': 70, 'gust': 7.52},
  'visibility': 10000,
  'pop': 0.3,
  'rain': {'3h': 0.28},
  'sys': {'pod': 'd'},
  'dt_txt': '2022-06-19 18:00:00'},
 {'dt': 1655672400,
  'main': {'temp': 14,
   'feels_like': 13.21,
   'temp_min': 14,
   'temp_max': 14,
   'pressure': 1016,
   'sea_level': 1016,
   'grnd_level': 1013,
   'humidity': 67,
   'temp_kf': 0},
  'weather': [{'id': 804,
    'main': 'Clouds',
    'description': 'overcast clouds',
    'icon': '04n'}],
  'clouds': {'all': 100},
  'wind': {'speed': 4.35, 'deg': 24, 'gust': 7.67},
  'visibility': 10000,
  'pop': 0.16,
  'sys': {'pod': 'n'},
  'dt_txt': '2022-06-19 21:00:00'},
 {'dt': 1655683200,
  'main': {'temp': 12.86,
   'feels_like': 12.21,
   'temp_min': 12.86,
   'temp_max': 12.86,
   'pressure': 1017,
   'sea_level': 1017,
   'grnd_level': 1014,
   'humidity': 77,
   'temp_kf': 0},
  'weather': [{'id': 804,
    'main': 'Clouds',
    'description': 'overcast clouds',
    'icon': '04n'}],
  'clouds': {'all': 100},
  'wind': {'speed': 3.94, 'deg': 29, 'gust': 8.42},
  'visibility': 10000,
  'pop': 0.04,
  'sys': {'pod': 'n'},
  'dt_txt': '2022-06-20 00:00:00'},
 {'dt': 1655694000,
  'main': {'temp': 12.53,
   'feels_like': 11.82,
   'temp_min': 12.53,
   'temp_max': 12.53,
   'pressure': 1017,
   'sea_level': 1017,
   'grnd_level': 1014,
   'humidity': 76,
   'temp_kf': 0},
  'weather': [{'id': 804,
    'main': 'Clouds',
    'description': 'overcast clouds',
    'icon': '04n'}],
  'clouds': {'all': 100},
  'wind': {'speed': 3.79, 'deg': 35, 'gust': 7.93},
  'visibility': 10000,
  'pop': 0.06,
  'sys': {'pod': 'n'},
  'dt_txt': '2022-06-20 03:00:00'},
 {'dt': 1655704800,
  'main': {'temp': 12.42,
   'feels_like': 11.36,
   'temp_min': 12.42,
   'temp_max': 12.42,
   'pressure': 1019,
   'sea_level': 1019,
   'grnd_level': 1015,
   'humidity': 63,
   'temp_kf': 0},
  'weather': [{'id': 804,
    'main': 'Clouds',
    'description': 'overcast clouds',
    'icon': '04d'}],
  'clouds': {'all': 100},
  'wind': {'speed': 3.55, 'deg': 33, 'gust': 6.66},
  'visibility': 10000,
  'pop': 0.06,
  'sys': {'pod': 'd'},
  'dt_txt': '2022-06-20 06:00:00'},
 {'dt': 1655715600,
  'main': {'temp': 14.83,
   'feels_like': 13.99,
   'temp_min': 14.83,
   'temp_max': 14.83,
   'pressure': 1019,
   'sea_level': 1019,
   'grnd_level': 1016,
   'humidity': 62,
   'temp_kf': 0},
  'weather': [{'id': 804,
    'main': 'Clouds',
    'description': 'overcast clouds',
    'icon': '04d'}],
  'clouds': {'all': 100},
  'wind': {'speed': 2.69, 'deg': 37, 'gust': 4.14},
  'visibility': 10000,
  'pop': 0,
  'sys': {'pod': 'd'},
  'dt_txt': '2022-06-20 09:00:00'},
 {'dt': 1655726400,
  'main': {'temp': 20.98,
   'feels_like': 20.15,
   'temp_min': 20.98,
   'temp_max': 20.98,
   'pressure': 1018,
   'sea_level': 1018,
   'grnd_level': 1015,
   'humidity': 39,
   'temp_kf': 0},
  'weather': [{'id': 803,
    'main': 'Clouds',
    'description': 'broken clouds',
    'icon': '04d'}],
  'clouds': {'all': 77},
  'wind': {'speed': 2.53, 'deg': 22, 'gust': 3.57},
  'visibility': 10000,
  'pop': 0,
  'sys': {'pod': 'd'},
  'dt_txt': '2022-06-20 12:00:00'}]

In [8]:
weatherex_df = pd.json_normalize(weather_ex.json()["list"])
weatherex_df.head()

,dt,weather,visibility,pop,dt_txt,main.temp,main.feels_like,main.temp_min,main.temp_max,main.pressure,main.sea_level,main.grnd_level,main.humidity,main.temp_kf,clouds.all,wind.speed,wind.deg,wind.gust,sys.pod,rain.3h
0,1655305200,"[{'id': 804, 'main': 'Clouds', 'description': ...",10000,0.0,2022-06-15 15:00:00,26.90,26.52,25.81,26.90,1019,1019,1015,34,1.09,100,1.69,164,3.54,d,NaN
1,1655316000,"[{'id': 804, 'main': 'Clouds', 'description': ...",10000,0.0,2022-06-15 18:00:00,25.69,25.28,23.26,25.69,1019,1019,1015,37,2.43,95,1.97,51,3.13,d,NaN
2,1655326800,"[{'id': 803, 'main': 'Clouds', 'description': ...",10000,0.0,2022-06-15 21:00:00,20.75,20.21,17.68,20.75,1019,1019,1016,51,3.07,63,2.43,84,4.05,n,NaN
3,1655337600,"[{'id': 802, 'main': 'Clouds', 'description': ...",10000,0.0,2022-06-16 00:00:00,15.96,15.39,15.96,15.96,1020,1020,1017,68,0.00,29,1.23,74,1.98,n,NaN
4,1655348400,"[{'id': 802, 'main': 'Clouds', 'description': ...",10000,0.0,2022-06-16 03:00:00,14.88,14.30,14.88,14.88,1021,1021,1018,72,0.00,40,1.05,10,1.08,n,NaN

In [9]:
weatherex_df = weatherex_df[["dt", "pop", "dt_txt", "main.temp", "main.humidity", "clouds.all", "wind.speed", "wind.gust"]]
weatherex_df.head()

,dt,pop,dt_txt,main.temp,main.humidity,clouds.all,wind.speed,wind.gust
0,1655305200,0.0,2022-06-15 15:00:00,26.90,34,100,1.69,3.54
1,1655316000,0.0,2022-06-15 18:00:00,25.69,37,95,1.97,3.13
2,1655326800,0.0,2022-06-15 21:00:00,20.75,51,63,2.43,4.05
3,1655337600,0.0,2022-06-16 00:00:00,15.96,68,29,1.23,1.98
4,1655348400,0.0,2022-06-16 03:00:00,14.88,72,40,1.05,1.08

In [10]:
# read the city dataframe to get the names of all cities we want weather data for
city_data = pd.read_csv("city_data.csv")
city_data.drop(columns = ["Unnamed: 0"], inplace = True)
city_data.head()

,city_id,city,country,country_code,region,elevation,city_latitude,city_longitude,population
0,Q64,Berlin,Germany,DE,Berlin,NaN,52.516667,13.383333,3664088
1,Q1055,Hamburg,Germany,DE,Hamburg,NaN,53.550000,10.000000,1852478
2,Q1726,Munich,Germany,DE,Bavaria,519.0,48.134520,11.571000,1488202
3,Q365,Cologne,Germany,DE,North Rhine-Westphalia,52.0,50.942222,6.957778,1083498
4,Q1794,Frankfurt am Main,Germany,DE,Hesse,112.0,50.113611,8.679722,764104

In [12]:
# convert the city column to a list so it can be used as an input of the function call
cities = city_data["city"].to_list()

In [13]:
# function that makes a call to the weather API and concatenate weather data from all cities of interest into
# one dataframe
def get_weather_data(cities):
    weather_list = []
    url = f"http://api.openweathermap.org/data/2.5/forecast?q=Boston&appid={API_key}&units=metric"
    test = requests.get(url)
    if test.status_code >= 200 and test.status_code <= 299:
        for city in cities:
            url = f"http://api.openweathermap.org/data/2.5/forecast?q={city}&appid={API_key}&units=metric"
            weather = requests.get(url)
            weather_df = pd.json_normalize(weather.json()["list"])
            weather_df["city"] = city
            weather_list.append(weather_df)
    else:
        return -1
    weather_combined = pd.concat(weather_list, ignore_index = True)
    return weather_combined

In [14]:
weather_data = get_weather_data(cities)
weather_data

,dt,weather,visibility,pop,dt_txt,main.temp,main.feels_like,main.temp_min,main.temp_max,main.pressure,...,main.grnd_level,main.humidity,main.temp_kf,clouds.all,wind.speed,wind.deg,wind.gust,sys.pod,rain.3h,city
0,1655305200,"[{'id': 800, 'main': 'Clear', 'description': '...",10000,0.00,2022-06-15 15:00:00,26.10,26.10,25.81,26.10,1006,...,1013,35,0.29,0,1.15,55,2.37,d,NaN,Berlin
1,1655316000,"[{'id': 801, 'main': 'Clouds', 'description': ...",10000,0.00,2022-06-15 18:00:00,25.27,24.79,23.61,25.27,1010,...,1012,36,1.66,19,2.90,71,3.11,d,NaN,Berlin
2,1655326800,"[{'id': 801, 'main': 'Clouds', 'description': ...",10000,0.00,2022-06-15 21:00:00,20.79,20.20,18.13,20.79,1013,...,1012,49,2.66,23,3.78,93,8.92,n,NaN,Berlin
3,1655337600,"[{'id': 802, 'main': 'Clouds', 'description': ...",10000,0.00,2022-06-16 00:00:00,15.84,15.15,15.84,15.84,1017,...,1012,64,0.00,31,2.66,86,5.99,n,NaN,Berlin
4,1655348400,"[{'id': 804, 'main': 'Clouds', 'description': ...",10000,0.00,2022-06-16 03:00:00,15.35,14.66,15.35,15.35,1016,...,1011,66,0.00,100,1.84,71,2.54,d,NaN,Berlin
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
595,1655683200,"[{'id': 500, 'main': 'Rain', 'description': 'l...",10000,0.91,2022-06-20 00:00:00,19.06,19.37,19.06,19.06,1017,...,951,90,0.00,80,1.69,198,1.57,n,0.37,Innsbruck
596,1655694000,"[{'id': 500, 'main': 'Rain', 'description': 'l...",10000,0.81,2022-06-20 03:00:00,17.89,18.16,17.89,17.89,1017,...,951,93,0.00,100,1.66,204,1.52,n,2.13,Innsbruck
597,1655704800,"[{'id': 500, 'main': 'Rain', 'description': 'l...",10000,0.85,2022-06-20 06:00:00,21.82,22.25,21.82,21.82,1016,...,951,84,0.00,91,0.50,228,0.93,d,1.19,Innsbruck
598,1655715600,"[{'id': 501, 'main': 'Rain', 'description': 'm...",10000,0.79,2022-06-20 09:00:00,24.81,25.33,24.81,24.81,1015,...,951,76,0.00,76,1.61,22,2.61,d,3.32,Innsbruck
599,1655726400,"[{'id': 501, 'main': 'Rain', 'description': 'm...",10000,0.89,2022-06-20 12:00:00,25.39,25.89,25.39,25.39,1014,...,950,73,0.00,74,1.36,352,1.44,d,3.81,Innsbruck

In [15]:
# set dataframe to keep only the columns of interest
weather_data = weather_data[["pop", "dt_txt", "main.temp", "main.feels_like", "main.humidity", "clouds.all", 
                             "wind.speed", "wind.gust", "city"]]

In [16]:
# rename columns with more intuitive names and get rid of dots to avoid problems in MySQL
weather_data.rename(columns = {"pop": "precip_prob", 
                               "dt_txt": "forecast_time", 
                               "main.temp": "temperature",
                               "main.feels_like": "feels_like",
                               "main.humidity": "humidity", 
                               "clouds.all": "cloudiness", 
                               "wind.speed": "wind_speed", 
                               "wind.gust": "wind_gust",}, 
                    inplace = True)

In [17]:
# add the city_id column to the weather dataframe which will be used as the foreign key in MySQL
weather_data = weather_data.merge(city_data[["city_id", "city"]], how = "left", on = "city")

In [18]:
weather_data.sample(10)

,precip_prob,forecast_time,temperature,feels_like,humidity,cloudiness,wind_speed,wind_gust,city,city_id
245,0.00,2022-06-16 06:00:00,16.87,16.31,65,46,2.99,5.01,Düsseldorf,Q1718
256,0.00,2022-06-17 15:00:00,28.04,27.22,32,100,2.21,2.93,Düsseldorf,Q1718
300,0.00,2022-06-18 03:00:00,18.59,18.12,62,3,2.20,5.22,Dortmund,Q1295
345,0.00,2022-06-18 18:00:00,31.71,31.10,35,2,1.19,2.25,Essen,Q2066
551,0.00,2022-06-19 12:00:00,30.99,32.04,47,0,2.40,2.16,Salzburg,Q34713
566,0.33,2022-06-16 09:00:00,23.84,23.87,61,61,1.42,1.93,Innsbruck,Q1735
233,0.00,2022-06-19 18:00:00,29.74,30.25,47,0,2.59,5.71,Stuttgart,Q1022
524,0.00,2022-06-16 03:00:00,15.42,15.16,82,6,1.90,1.75,Salzburg,Q34713
54,0.00,2022-06-17 09:00:00,20.55,19.97,50,75,2.35,3.16,Hamburg,Q1055
221,0.00,2022-06-18 06:00:00,19.97,19.54,58,17,1.48,2.45,Stuttgart,Q1022

In [19]:
weather_data.dtypes

precip_prob      float64
forecast_time     object
temperature      float64
feels_like       float64
humidity           int64
cloudiness         int64
wind_speed       float64
wind_gust        float64
city              object
city_id           object
dtype: object

In [21]:
weather_data["forecast_time"] = pd.to_datetime(weather_data["forecast_time"])

In [22]:
weather_data.to_csv("weather_data.csv")